/data
/VOC2012
*.ipynb_checkpoints*
fid/**/*.jpg
.ipynb_checkpoints
VOC2012
data
model
output
object_detection_results*
pretrained_models
sketchy/photo
renderer_models
sketchy/sketch
train_log*
arduino_actions/
renderer_models*/
sketchy/*.pkl
img_*.pkl
**.pyc